@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: #FFFFFF;
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font: "Figtree";
  --font-size: 16px;

}

