@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: #FFFFFF;
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font: "Figtree";
  --font-size: 16px;

}

body {
  background-color: var(--yellow);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
  height: 100vh;
}

.card {
  display: grid;
  grid-template-rows: 1fr repeat(4, max-content) auto;
  max-width: 365px;
  min-width: 300px;
  row-gap: clamp(0.5rem, 1vw, 1rem);
  .card__banner {
    img {
      width: 100%;
      border-radius: 15px;
    }
  }
  .card__tags {
    text-transform: capitalize;
    background-color: var(--yellow);
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-weight: bold;
  }
