@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: #FFFFFF;
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font: "Figtree";
  --font-size: 16px;

}

body {
  background-color: var(--yellow);
  display: grid;
  place-items: center;
  padding: clamp(2rem, 4vw, 4rem);
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
  height: 100vh;
}

.card {
  display: grid;
  background-color: var(--white);
  padding: clamp(1rem, 2vw, 1.75rem);
  width: clamp(300px, 85vw, 365px);
  grid-template-rows: 1fr repeat(4, max-content) auto;
  max-width: 365px;
  min-width: 300px;
  border-radius: 15px;
  border: solid black 1px;
  row-gap: clamp(0.5rem, 1vw, 1rem);
  font-family: var(--font);
  box-shadow: black 10px 10px;

  .card__banner {
    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .card__tags {
    text-transform: capitalize;
    background-color: var(--yellow);
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-weight: bold;
  }

  h1 {
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: var(--yellow)
    }

    a:visited {
      color: none;
    }

  }

  summary {
    text-align: justify;
    letter-spacing: -0.4px;
  }

  .card__author {
    display: flex;
    gap: clamp(0.5rem, 1vw, 1rem);
    align-items: center;

    img {
      aspect-ratio: 1;
      height: 40px;
    }

    p {
      font-weight: bold;
    }
  }
}

footer {
  align-self: end;
}
